aiohttp==3.8.6
aiosignal==1.3.1
anyio==4.6.2
async-google-trans-new==1.4.6
async-timeout==4.0.3
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
debtcollector==3.0.0
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
iso8601==2.1.0
multidict==6.1.0
propcache==0.2.0
sniffio==1.3.1
twitchio==2.10.0
typing_extensions==4.12.2
urllib3==2.2.3
wrapt==1.16.0
yarl==1.15.2
